#info-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 5px solid rgb(94, 92, 92);
    border-radius: 25px;
}

.info-sub-title {
    display: flex;
    justify-content: start;
    padding: 25px 0px 25px 25px;

    font-size: 30px;
    font-weight: 600;

    border-bottom: solid rgba(94, 92, 92);
}

.info-under-value {
    display: flex;
    margin: 0 auto;
}

.info-center-value {
    flex-grow: 1;
    margin: 0 auto;
    justify-content: center;
    width: 100%;

    background-color: yellow;
}

.info-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 25px;
    
    padding: 20px;
    background-color: aqua;
}

.id-input-box {
    width: 350px;
    padding: 5px 0;
}

.id-info-text {
    flex-grow: 1;
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 10px;
    padding: 4px 14px;
    background-color: rgba(255, 255, 255, 1);

    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
    color: rgba(35, 45, 66, 1);
}

.info-box-text {
    display: flex;
    align-items: center;
    background-color: bisque;
}

.info-text {
    font-size: 24px;
    font-weight: 400;
    width: 200px;
    height: 50px;
    line-height: 50px;
    flex: 0 0 200px;
}

.info-next-box {
    display: flex;
}

.submit-box {
    display: flex;
    margin: 30PX auto;
    margin-top: 10px;
    justify-content: center;
}

.user-left-null {
    flex-grow: 1;
    background-color: violet;
}

.user-right-null {
    flex-grow: 1;
    background-color: tomato;
}