#info-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 5px solid rgb(94, 92, 92);
    border-radius: 25px;
}

.info-sub-title {
    display: flex;
    justify-content: start;
    padding: 25px 0px;

    font-size: 30px;
    font-weight: 600;

    min-width: 800px;

    border-bottom: solid rgba(94, 92, 92);
}

.info-confonent {
    margin: 0 auto;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 25px;

    padding: 20px;
}

.id-contents {
    display: flex;
    
}

.info-id {
    font-size: 24px;
    font-weight: 400;
    width: 200px;
    height: 50px;
    line-height: 50px;
}

.id-container {
    display: flex;
    margin-right: 20px;
}

.id-input-box {
    display: flex;
    width: 350px;
}

.id-info-text {
    flex-grow: 1;
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 10px;
    padding: 8px 16px;
    background-color: rgba(255, 255, 255, 1);

    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
    color: rgba(35, 45, 66, 1);
}

.info-box-text {
    display: flex;
}

.info-text {
    font-size: 24px;
    font-weight: 400;
    width: 200px;
    height: 50px;
    line-height: 50px;
}

.info-next-box {
    display: flex;
}

.info-update-box-text {
    display: flex;
}

.info-update-text {
    font-size: 24px;
    font-weight: 400;
    width: 200px;
    height: 50px;
    line-height: 50px;
}

.submit-box {
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    justify-content: center;
}