/* 회원가입 선택 공통 */
#auth-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.auth-top-bar {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.auth-top-right-bar {
  display: flex;
  justify-content: end;
  text-align: center;
  gap: 10px;

  font-size: 16px;
}

.auth-top-right-bar-login {
  padding: 10px;
  cursor: pointer;
}

.auth-top-right-bar-line {
  padding: 10px;
}

.auth-top-right-bar-sign-up {
  padding: 10px;
  cursor: pointer;
}

/* 회원가입 선택 */
.auth-welcome-image-box {
  display: flex;
  justify-content: center;
}

.auth-choose-type-text {
  display: flex;
  justify-content: center;

  padding: 20px;

  font-size: 24px;
  font-weight: 700;
}

.auth-type-image {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.auth-type-text {
  display: flex;
  gap: 270px;
  padding: 10px;
  justify-content: center;
}

.auth-type-text-customer {
  font-size: 24px;
  font-weight: 400;
}

.auth-type-text-designer {
  font-size: 24px;
  font-weight: 400;
}

.auth-sign-up-sns {
  display: flex;
  flex-direction: column;
  margin-top: 60px;

  gap: 20px;
}




/* 회원가입 공통 */
.auth-sign-up-title {
  display: flex;
  justify-content: start;
  margin-top: 50px;
  margin-bottom: 50px;

  font-size: 24px;
  font-weight: 700;

  min-width: 800px;
}

.auth-sign-up-text {
  padding: 5px;
  font-size: 24px;
  font-weight: 400;
  width: 200px;
  height: 50px;
  line-height: 50px;
}

.auth-sign-up-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-under-bar {
  display: flex;
}

.auth-left-null {
  display: flex;
  justify-content: start;
  width: 600px;
  height: 600px;

}

.auth-center-value {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.auth-right-null {
  display: flex;
  justify-content: end;
  width: 600px;
  height: 600px;

}



/* 회원가입 세부 */
.auth-sign-up-box-text {
  display: flex;
}

.auth-submit-box {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 25px;
}

.auth-sign-up-radio-box {
  font-size: 24px;
  height: 50px;
  line-height: 50px;
}

.auth-sign-up-next-box {
  display: flex;
  gap: 50px;
  margin-right: 30px;
  width: 300px;
}

.auth-sign-in-button-size {
  width: 120px;
}