#idfound-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.logo-image {
  display: flex;
  justify-content: start;

  width: 200px;
  height: 72.32px;

  background-image: url('../../assets/image/logo-image\ 1.png');
  background-repeat: no-repeat;
  background-size: auto;

  cursor: pointer;
}

.top-right-bar {
  display: flex;
  justify-content: end;
  text-align: center;
  gap: 10px;

  font-size: 16px;
}

.top-right-bar-login {
  padding: 10px;
  cursor: pointer;
}

.top-right-bar-line {
  padding: 10px;
}

.top-right-bar-sign-up {
  padding: 10px;
  cursor: pointer;
}

.top-bar-container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;

  padding: 0 24px;
  font-family: Pretendard;
  background-color: rgb(249, 253, 5);
}

.title {
  cursor: pointer;
}

.top-bar-right {
  gap: 30px;

  justify-content: right;
  display: flex;
}

.login-button {
  cursor: pointer;
}

.signup-button {
  cursor: pointer;
}

.sub-wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  
  width: 100%;
  background-color: blueviolet;
}

.id-found-box {

  border: 1px solid rgba(238, 238, 238, 1);
  
  padding: 200px 200px;
}

.id-found-title {
  display: block;
  position: relative;
  top: -200px;
  left: -200px;
}

.id-found {
  display: flex;
  gap: 20px;
}

.email {
  border: 1px solid rgba(192, 192, 192, 1);
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
}

.input-box {
  width: 200px;
  height: 30px;
  background-color: rgba(192, 192, 192, 1);
}

.error-text {
  color: red;
}

.send-authnumber{
  border: 1px solid rgba(192, 192, 192, 1);
  padding: 10px 24px;
  cursor: pointer;
}

.email-check {
  display: flex;
  flex-direction: column;
  
  position: relative;
  left: 140px;
}

.auth {
  display: flex;
  gap: 20px;
}

.authnumber {
  border: 1px solid rgba(192, 192, 192, 1);
  justify-content: center;
  align-items: center;
  padding: 10px 33px;
}

.check {
  border: 1px solid rgba(192, 192, 192, 1);
  justify-content: center;
  align-items: center;
  padding: 10px 60px;
  cursor: pointer;
}

.auth-check {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.id-box {
  position: relative;
  top: 80px;
  border: 1px solid rgba(192, 192, 192, 1);
  width: 430px;
  padding: 10px 20px;
}

.id-check {
    display: flex;
    justify-content: right;
    cursor: pointer;
}

.next-box {
  box-sizing: border-box;
  display: flex;  
  justify-content: center;
  border: 1px solid rgba(192, 192, 192, 1);
  width: 100px;
  
  position: relative;
  top: 170px;
  left: 150px;
  padding: 10px 20px;
  cursor: pointer;
}

.next {
  /* font */
}
