#toolbar-wrapper {
	display: flex;
	flex-direction: column;
	background-color: white;
}
.toolbar {
	display: flex;
	align-items: center;
	height: 20px;
	margin: 5px;
	padding:  5px;
}

.toolbar button,
.toolbar input,
.toolbar select {
  margin-right: 5px;
}

img {
  max-width: 100%;
  height: auto;
}


