.chat-room-container {
  display: flex;
  flex-direction: column;
  width: 250px; 
  height: auto; 
  max-height: 100vh;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  /* margin: 12% auto; */
}

.chat-room-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
}

.chat-room-header h2 {
  margin: 0;
  font-size: 1.2em;
}

.chat-room-subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.button-wrap {
  display: flex;
  gap: 10px;
}

.out-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: black;
}


.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}


.out-button:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.out-button:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}

.out-button:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

.out-button:active {
  transform: translate(2px ,2px);
}

.chat-room-messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #fafafa;
  font-size: 1em;
}

.message-sent,
.message-received {
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 20px;
  word-wrap: break-word; 
  word-break: break-word; 
  width: 70%;
}

.message-sent {
  background-color: #79C7C5;
  align-self: flex-end;
}

.message-received {
  background-color: #777777;
  border: 1px solid #ddd;
  align-self: flex-start;
}

.message-content {
    /* position: relative;
    display: inline-block; */
    /* margin-bottom: 5px; */
    color: white;
    padding: 10px 10px 10px 12px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.chat-room-footer {
  display: flex;
  padding: 5px;
  background-color: #f1f1f1;
  border-top: 1px solid #ddd;
  position: sticky;
  bottom: 0;
}

.chat-room-footer input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 4px;
}

.send-button {
  height: 45px;
  width: 45px;
  border-radius: 1em;
  border: 0.1rem solid transparent;
  background-color: rgb(64, 146, 239);
  transition: 0.3s;
  font-size: 1em;
}

.send-button:hover {
  cursor: pointer;
  transform: scale(1.05) rotate(3deg);
}

.button:active {
  animation: borderMove 0.5s forwards;
  transform: scale(0.9) rotate(-3deg);
  background-color: rgb(0, 0, 0);
  color: rgb(64, 146, 239);
  border: 0.1rem solid rgb(38, 103, 224);
}

@keyframes borderMove {
  0% {
    border-width: 0.1rem;
    transform: scale(1) rotate(0deg);
  }

  50% {
    border-width: 0.4rem;
    transform: scale(0.9) rotate(-3deg);
  }

  100% {
    border-width: 0.15rem;
    transform: scale(1) rotate(0deg);
  }
}



.delete-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.delete-svgIcon {
  width: 15px;
  transition-duration: 0.3s;
}

.delete-svgIcon path {
  fill: white;
}

.delete-button:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.delete-button:hover .delete-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.delete-button::before {
  display: none;
  content: "삭제";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.delete-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}

.opponent-id {
  display: flex;
  color: #777777;
  font-size: 20px;
  /* justify-content: space-between; */
}