.trend-board-comment-wrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;

	border: 1px solid rgba(238, 238, 238, 1);
	border-radius: 8px;
	padding: 24px;

	background-color: rgba(255, 255, 255, 1);
}

.trend-board-comment {
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;

	color: rgba(64, 64, 64, 1);
	white-space: pre-wrap;
}

trend-comment-comment-write-box {
	display: flex;
	align-items: start;
	gap: 12px;
}

.trend-board-comment-textarea-box {
	flex-grow: 1;

	border: 1px solid rgba(238, 238, 238, 1);

	border-radius: 6px;
	padding: 8px 16px;

	background-color: rgba(255, 255, 255, 1);
}

.trend-board-comment-textarea {
	border: none;
	outline: none;
	background: none;
	resize: none;

	width: 100%;
	height: 28px;

	font-size: 16px;
	font-weight: 400;
	line-height: 175%;

	color: rgba(64, 64, 64, 1);
}

.trend-board-comment-button-box {
	display: flex;
	justify-content: space-between;
	height : 50px;
	margin  :12px;
}

.trend-board-comment-button {
	background-color: white;
	border-radius: 12px;
	display: flex;
	align-items: center;
	padding: 12px;
}

.trend-board-comment :hover {
	cursor: pointer;
} 
