/* 회원가입 선택 공통 */
#sign-up-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.logo-image {
  display: flex;
  justify-content: start;

  width: 200px;
  height: 80px;

  background-image: url('../../assets/image/logo-image\ 1.png');
  background-repeat: no-repeat;
  background-size: auto;

  cursor: pointer;
}

.top-right-bar {
  display: flex;
  justify-content: end;
  text-align: center;
  gap: 10px;

  font-size: 16px;
}

.top-right-bar-login {
  padding: 10px;
  cursor: pointer;
}

.top-right-bar-line {
  padding: 10px;
}

.top-right-bar-sign-up {
  padding: 10px;
  cursor: pointer;
}

/* 회원가입 선택 */
.welcome-image-box {
  display: flex;
  justify-content: center;
}

.welcome-image {
  display: block;
  text-align: center;
  align-items: center;
  height: 150px;
  width: 550px;
  background-image: url('../../assets/image/welcome-image.png');
  background-repeat: no-repeat;
  background-size: auto;
}

.choose-type-text {
  display: flex;
  justify-content: center;

  padding: 20px;

  font-size: 24px;
  font-weight: 700;
}

.type-image {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.type-image-customer {
  display: block;
  text-align: center;
  align-items: center;
  height: 270px;
  width: 270px;

  border: 1px solid white;
  border-radius: 25%;

  background-image: url('../../assets/image/customer-image.png');
  background-repeat: no-repeat;
  background-size: auto;
}

.type-image-customer:hover {
  cursor: pointer;
  opacity: 0.9;
}

.type-image-designer {
  display: block;
  text-align: center;
  align-items: center;
  height: 270px;
  width: 270px;

  border: 1px solid white;
  border-radius: 25%;

  background-image: url('../../assets/image/designer-image.png');
  background-repeat: no-repeat;
  background-size: auto;
}

.type-image-designer:hover {
  cursor: pointer;
  opacity: 0.9;
}

.type-text {
  display: flex;
  gap: 270px;
  padding: 10px;
  justify-content: center;
}

.type-text-customer {
  font-size: 24px;
  font-weight: 400;
}

.type-text-designer {
  font-size: 24px;
  font-weight: 400;
}

.sign-up-sns {
  display: flex;
  flex-direction: column;
  margin-top: 60px;

  gap: 20px;
}

.sign-up-naver {
  margin: auto;
  height: 50px;
  width: 400px;

  background-image: url(../../assets/image/naver-sign-up-button.png);
  background-repeat: no-repeat;
  background-size: auto;
}

.sign-up-naver:hover {
  cursor: pointer;
  opacity: 0.9;
}

.sign-up-kakao {
  margin: auto;
  height: 50px;
  width: 400px;

  background-image: url(../../assets/image/kakao-sign-up-button.png);
  background-repeat: no-repeat;
  background-size: auto;
}

.sign-up-kakao:hover {
  cursor: pointer;
  opacity: 0.9;
}

/* 회원가입 공통 */
.sign-up-title {
  display: flex;
  justify-content: start;
  margin-top: 50px;
  margin-bottom: 50px;

  font-size: 24px;
  font-weight: 700;

  min-width: 800px;
}

.sign-up-text {
  padding: 5px;
  font-size: 24px;
  font-weight: 400;
  width: 200px;
  height: 50px;
  line-height: 50px;
}

.sign-up-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.under-bar {
  display: flex;
}

.left-null {
  display: flex;
  justify-content: start;
  width: 600px;
  height: 600px;

}

.center-value {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.right-null {
  display: flex;
  justify-content: end;
  width: 600px;
  height: 600px;

}



/* 고객 회원가입 */

.sign-up-box-text {
  display: flex;
}

.submit-box {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.sign-up-radio-box {
  font-size: 24px;
  height: 50px;
  line-height: 50px;
}

.sign-up-next-box {
  display: flex;
  gap: 50px;
  margin-right: 30px;
  width: 300px;

}

.sign-in-button-size {
  width: 120px;
}