.trend-detail {
	padding: 20px;
}

.trend-detail-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-left: 20px;
	background-color: rgba(218, 218, 218, 1);
}

.trend-detail-container {
	margin: 20px auto;
	max-width: 100%; /* trend-detail-main-view의 너비에 맞춤 */
	padding: 0;
}

.trend-detail-information {
	display: flex;
	justify-content: space-between;
	padding: 0; /* 여백 제거 */
	background-color: #f2f2f2;
}

.trend-detail-information > div {
	padding: 10px;
	border: 1px solid #000000;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.trend-detail-information1 {
	flex: 0.5; /* 크기 조정 가능 */
}

.trend-detail-information2 {
	flex: 6; /* 크기 조정 가능 */
}

.trend-detail-information3 {
	flex: 1; /* 크기 조정 가능 */
}

.trend-detail-information4 {
	flex: 0.5; /* 크기 조정 가능 */
}

.trend-detail-information5 {
	flex: 0.5; /* 크기 조정 가능 */
	cursor: pointer;
}

.trend-detail-information6 {
	flex: 0.5; /* 크기 조정 가능 */
	cursor: pointer;
}

.trend-detail-view {
	padding: 20px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	min-height: 300px;
	background-color: rgba(218, 218, 218, 1);
}

.trend-detail-comment {
	margin-top: 20px;
	background-color: rgba(218, 218, 218, 1);
	position: relative;
}

.trend-detail-comment-title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.trend-detail-comment-item {
	border-bottom: 1px solid #ccc;
	padding: 10px;
	border: 1px solid #ccc;
}

.trend-detail-comment-item:last-child {
	border-bottom: none;
}

.trend-detail-comment-meta {
	display: flex;
	margin-bottom: 5px;
}

.trend-detail-comment-author {
	font-weight: bold;
	margin-right: 30px;
}

.trend-detail-comment-content {
	font-weight: bold;
	padding-left: 30px;
}

.trend-detail-comment-date {
	margin-left: 700px;
	flex: 1;
	padding-left: 30px;
	font-weight: bold;
}

.trend-detail-comment-date-text {
	margin-left: 700px;
	flex: 1;
}


.trend-detail-comment-details {
	display: flex;
}

.trend-detail-comment-author-name {
	margin-right: 30px;
}

.trend-detail-comment-content-text {
	margin-left: 30px;
}

.trend-detail-comment-delete {
	margin-left: auto;
	margin-right: 10px;
}

.trend-detail-comment-put {
	margin-right: 10px;
}

.trend-detail-comment-write {
	position: absolute;
	top: 10px;
	right: 10px;
}

.trend-detail-go-to-trendList {
	margin-top: 20px;
	padding: 10px;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	text-align: center;
	cursor: pointer;
}

.trend-comment-write-contents-textarea {
	border: none;
	outline: none;
	background: none;
	resize: none;

	width: 100%;

	line-height: 175%;
}

.trend-comment-write-contents-box {
border: 1px solid rgba(238, 238, 238, 1);
border-radius: 6px;
padding: 12px 16px;

min-height: 248px;

background-color: rgba(255, 255, 255, 1);
}

.trend-detail-bottom-bar {
	height : 100%;
	width:100%;
}