	.customer-detail {
	padding: 20px;
	}

	.customer-detail-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-left: 20px;
	background-color: #F5F5F5;
	}

	.customer-detail-container {
	margin: 20px auto;
	max-width: 100%;
	padding: 0;
	}

	.customer-detail-information {
	display: flex;
	justify-content: space-between;
	padding: 0;
	background-color: #E0E0E0;
	}

	.customer-detail-information > div {
	padding: 10px;
	border: 1px solid #ccc;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	}

	.customer-detail-information1 {
	flex: 0.5; 
	}

	.customer-detail-information2 {
	flex: 6; 
	}

	.customer-detail-information3 {
	flex: 1; 
	}

	.customer-detail-information4 {
	flex: 0.5; 
	cursor: pointer;
	}

	.customer-detail-information5 {
	flex: 0.5; 
	cursor: pointer;
	}

	.customer-detail-view {
	padding: 20px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	min-height: 300px;
	background-color: #F5F5F5;
	overflow: auto;
	}

	.customer-detail-view img { 
	max-width: 100%;
	height: auto;
	}

	.customer-detail-go-to-customerList {
	margin-top: 20px;
	padding: 10px;
	background-color: #E0E0E0;
	border: 1px solid #ccc;
	text-align: center;
	cursor: pointer;
	}
