/* .wrapper {
    display: grid;
}

.Header {
    display: flex;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 1;

    width: 1903px;
    height: 60px;

    background-color: rgba(0, 255, 255, 0.8);
}

.header-right {
    display: flex;
    align-items: flex-end;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    color: rgba(64, 64, 64, 1);
}

.header-left {
    display: flex;
    
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    
    color: rgba(138, 146, 165, 1);
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba( 10, 10, 0, 0.5);
}

.Search {
    display: flex;
    justify-content: center;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;

    
    width: 1903px;
    height: 60px;

    background-color: rgba(255, 0, 0, 0.7);
}

.search-box {
    display: flex;
    justify-content: space-between;
}

.list-search-input {
    padding: 60px 26px;
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 6px;
    padding: 8px 16px;
    width: 168px;

    background-color: rgba(255, 255, 255, 1);
}

.Menu {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;

    width: 203px;
    height: 1260px;

    background-color: rgba(0, 0, 255, 0.8);
}

.side-navigation-container {
    grid-area: sidenav;
    padding: 16px 12px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-navigation-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.Main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;

    width: 1503px;
    height: 1260px;

    background-color: rgba(255, 2, 255, 0.2);
}

.Bottom {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    width: 203px;
    height: 1260px;

    background-color: rgba(25, 2, 25, 0.8);
}

.Footer {
    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 5;
    grid-row-end: 5;


    width: 1903px;
    height: 120px;
    background-color: rgba(55, 255, 255, 0.8);
} */