#mypage-wrapper {
  display: flex;
  flex-direction: column;
}

.john {
  min-width: 200px;
  height:150px;
  background-color: aqua;

}

.john1 {
  min-width: 200px;
  height: 150px;
  background-color: rgb(163, 71, 190);

}

.mypage {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.information-image {
  min-width: 303px;
  min-height: 167px;
  background-image: url("../../../assets/image/Rectangle\ 366.png");
}

.password-change-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.password-change-image {
  min-width: 303px;
  min-height: 167px;
  background-image: url("../../../assets/image/Rectangle\ 364.png");
}

.user-delete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.user-delete-image {
  min-width: 303px;
  min-height: 167px;
  background-image: url("../../../assets/image/Rectangle\ 368.png");
}