#qna-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.qna-list-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.qna-list-size-text {
  font-size: 16px;
  font-weight: 400;

  color: rgba(138, 146, 166, 1);
}

.qna-list-size-text .emphasis {
  color: rgba(64, 64, 64, 1);
}

.qna-list-top-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.qna-list-top-admin-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  color: rgba(64, 64, 64, 1);
}

.qna-list-table {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid rgba(238, 238, 238, 1);
  border-radius: 8px;

  background-color: rgba(255, 255, 255, 1);
}

.qna-list-table-th {
  display: flex;
  align-items: center;
  gap: 95px;
  padding: 15px 24px;

  font-size: 16px;
  font-weight: 700;
  text-align: center;

  color: rgba(64, 64, 64, 1);
}

.qna-list-table-tr {
  display: flex;
  align-items: center;
  gap: 95px;

  border-top: 1px solid rgba(238, 238, 238, 1);
  padding: 15px 24px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;

  color: rgba(64, 64, 64, 1);
}

.qna-list-table-reception-number {
  width: 56px;
}

.qna-list-table-status {
  width: 45px;
}

.qna-list-table-title {
  width: 349px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.qna-list-table-writer-id {
  width: 67px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.qna-list-table-write-date {
  width: 54px;
}

.qna-list-table-viewcount {
  width: 42px;
}

.qna-list-bottom {
  display: flex;
  justify-content: space-between;
}

.qna-list-pagenation {
  display: flex;
  align-items: center;
  gap: 24px;
}


.qna-list-page-box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.qna-list-page {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  color: rgba(138, 146, 166, 1);

  cursor: pointer;
}

.qna-list-page-active {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  color: rgba(64, 64, 64, 1);

  cursor: default;
}

.qna-list-search-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.qna-list-search-input-box {
  border: 1px solid rgba(238, 238, 238, 1);
  border-radius: 6px;
  padding: 8px 16px;
  width: 168px;

  background-color: rgba(255, 255, 255, 1);
}

.qna-list-search-input {
  border: none;
  outline: none;
  background: none;

  width: 100%;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;

  color: rgba(64, 64, 64, 1);
}
