#wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;

  background-image: url(../../assets/image/main-image-1.jpg);
  background-size: 100%;

  background-color: antiquewhite;
  width: 1200px;
  height: 600px;
}

.main-image {
  background-size: 100%;

  width: 500px;
  height: 600px;
}

.main-on-title {
  display: flex;
  flex-direction: column;

  color: white;
  /* background-color: tomato; */
  
  width: 500px;
  height: 600px;

  font-size: 100px;
  font-weight: 700;
  line-height: 350%;
}

.main-on-text {
  background-color: yellow;

  font-size: 18px;
  font-weight: 400;
}