#customer-write-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: gold;
  
}

.customer-write-top {
  display: flex;
  align-items: center;
  gap: 12px;
  
}

.customer-write-title {
  display: flex;
  width: 8%;
  
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;

  background-color: gold;
}

.customer-write-title-box {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  
}

.customer-write-title-input {
  border: none;
  outline: none;
  background: none;

  width: 70%;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;

  color: rgba(64, 64, 64, 1);
  background-color: rgba(217, 217, 217, 1);

  border: 1px solid rgba(238, 238, 238, 1);
  border-radius: 6px;
}

.customer-write-contents-box {
  border: 1px solid rgba(238, 238, 238, 1);
  border-radius: 6px;
  padding: 12px 16px;

  min-height: 248px;

  background-color: rgba(255, 255, 255, 1);
}

.customer-write-contents-textarea {
  border: none;
  outline: none;
  background: none;
  resize: none;

  width: 100%;

  line-height: 175%;
}

.customer-write-secret {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.customer-write-secret label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.customer-write-secret input[type='checkbox'] {
  margin-right: 5px;
}

.upload-file {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}

.upload-file-button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  align-items: center;
  padding: 8px 24px;
  background-color: rgba(58, 87, 232, 0.2);
  border-radius: 6px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  color: rgba(45, 66, 178, 1);
}

.upload-file-button:hover {
  cursor: pointer;
}

.write-button {
  display: flex;
  justify-content: end;
  align-items: center;
}

.click-button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.click-button:hover .button_top {
  transform: translateY(-0.33em);
  cursor: pointer;
}

.click-button:active .button_top {
  transform: translateY(0);
}

.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.confirmation-modal-buttons {
  margin-top: 20px;
}

.confirmation-modal-buttons button {
  margin: 0 10px;
}