#full {
  display: grid;
  grid-template-columns: min-content minmax(1fr, auto) 300px;
  grid-template-rows: auto minmax(944px, auto);
  min-width:  1900px;
}

/* .Top {
  background-color: aquamarine;

  width: 100%;
  height: 120px;
} */

.top-group {
  grid-column: 1 / span 3;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  background-color: white;

  margin: 0px 10px;
  height: 120px;
}

.top-logo {
  grid-area: logo;
  display: flex;
  width: 200px; 
  height: 73.23px;

  border-bottom: 1px solid rgba(233, 236, 239, 1);
  background-image: url('../../assets/image/logo-image\ 1.png');
}

.top-bar-title {
  grid-area: topbar;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 50px;
}

.top-bar-service {
  display: flex;
  gap: 20px;
  justify-content: center;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
}


.left-bar-container {
  grid-area: sidenav;
  grid-column: 1;
  grid-row: 2;
  padding: 16px 12px;

  display: flex;
  flex-direction: column;
  gap: 50px;
}

.left-bar-title {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
}

.left-bar-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
}

.left-bar-title:hover {
  color: #e8e8e8;
}

.left-bar-title:hover::before {
  width: 100%;
}


.left-bar-title:hover {
  cursor: pointer;
}

.center-bar {
  grid-area: main;
  grid-column: 2;
  grid-row: 2;
  background-color: rgba(102, 178, 245, 0.91);
  flex: 1;
  min-width:  1320px;
  width: 100%;
}

.right-bar {
  grid-area: rightbar;
  grid-column: 3;
  grid-row: 2;
  background-color: rgba(150, 237, 237, 0.887);
  width: 300px;
}


