#full {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 100px;
}

.top-group {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0px 10px;
    height: 120px;
}

.top-logo {
    margin-left: 50px;
    width: 200px;
    height: 80px;
    background-image: url('../../assets/image/logo-image\ 1.png');
    background-repeat: no-repeat;
    background-size: auto;
    cursor: pointer;
}

.top-bar-title {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 24px;
    margin-left: 210px;
}

.top-bar-service {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-right: 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
}

.service-unber-box {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.left-bar-container {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 250px;
    padding: 16px 12px;
    gap: 40px;
}

.left-bar-title {
    width: 200px;
    padding: 18px;
    border: unset;
    border-radius: 12px 12px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 6px;
}

.left-bar-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.left-bar-title:hover {
    color: #e8e8e8;
    cursor: pointer;
}

.left-bar-title:hover::before {
    width: 100%;
}

.center-bar {
    flex: 1;
    width: 100%;
    border-radius: 12px;
}

.right-bar {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    width: 250px;
    padding: 16px 12px;
}

.customer-chat {
    padding-top: 50px;
}

.footer-total-user-box {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: black;
    border-radius: 14px;
    padding: 12px;
}

.count-font {
    font-size: 14px;
    color: white;
}