#full {
  display: flex;
  flex-direction: column;

  min-width:  1920px;
}

.top {
  background-color: aquamarine;

  width: 100%;
  height: 120px;
}

.top-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  background-color: white;

  margin: 0px 10px;
  height: 120px;
}

.top-logo {
  grid-area: logo;
  display: flex;
  width: 200px; 
  height: 73.23px;

  background-image: url('../../assets/image/logo-image\ 1.png');
}

.top-bar-title {
  grid-area: topbar;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 50px;
}

.top-bar-service {
  display: flex;
  justify-content: center;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
}

.top-bar-role {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: right 10px;
  padding-right: 10px;
}

.logout-button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  background-color: rgba(58, 87, 232, 0.2);
  border-radius: 6px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  color: rgba(45, 66, 178, 1);
}


.under {
  display:  flex;
}

.left-bar {
  width: 300px;
}

.left-bar-container {
  grid-area: sidenav;
  padding: 16px 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.left-bar-title {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
}

.left-bar-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
}

.left-bar-title:hover {
  color: #e8e8e8;
}

.left-bar-title:hover::before {
  width: 100%;
}


.left-bar-title:hover {
  cursor: pointer;
}

.center-bar {
  grid-area: main;
  background-color: rgb(52, 127, 192);
  flex: 1;
  min-width:  1320px;
  width: 100%;
}

.right-bar {
  background-color: rgb(13, 73, 73);
  width: 300px;
}


