#wrapper {
  display: flex;
  width: 100%; 
  height: 100vh; 
  min-height: 1024px;
}

.top-bar-container {
  position: fixed;
  top: 0px;
  left: 50%;
  right: 0px;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  font-family: Pretendard;
  background-color: rgb(249, 253, 5);
}

.title-image {
  display: flex;
  background-image: url("../../assets/image/logo-image\ 1.png");
  min-width: 200px;
  cursor: pointer;
}

.top-bar-right {
  gap: 24px;

  justify-content: right;
  display: flex;
}

.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-width: 610px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 380px;
}

.login-page{
  /* font */
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.login-button {
  cursor: pointer;
}

.signup-button {
  cursor: pointer;
}

.user-id {
  display: flex;
}

.user-password {
  display: flex;
}

.image-box {
  min-width: 840px;
  background-image: url("../../assets/image/Rectangle\ 4.png");
}

.input-box {
  width: 150px;
  height: 30px;
  background-color: black;
  border: 1px solid rgba(192, 192, 192, 1);
}

.login-button {

  background-color: aqua;

  cursor: pointer;
}

.socal-login {
  display: flex;
  
  gap: 20px;

  background-color: rgb(51, 182, 84);
}

.kakao-login {
  width: 56px;
  height: 56px;
  border-radius: 56px;

  cursor: pointer;
  background-image: url("../../assets/image/kakao-button.png");
}

.naver-login {
  width: 56px;
  height: 56px;
  border-radius: 56px;

  cursor: pointer;
  background-image: url("../../assets/image/naver-button.png");
}

.user-found {
  display: flex;
  gap: 20px;

  background-color: brown;
}

.id-found {
  cursor: pointer;
}

.password-found {
  cursor: pointer;
}