#login-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.sign-in-main-box {
  display: flex;
  height: 100%;
}

/* 이미지 */
.image-box {
  min-width: 900px;
  width: 100%;
  background-image: url("../../assets/image/sign-in-page-image.png");
  background-repeat: no-repeat;
  background-size: auto;
}

.login-right-side {
  display: flex;
  flex-direction: column;
  min-width: 1100px;
}
/* 탑고정바 */
.top-bar {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 10px;
}

.logo-image {
  display: flex;
  justify-content: start;

  width: 200px;
  height: 72.32px;

  background-image: url('../../assets/image/logo-image\ 1.png');
  background-repeat: no-repeat;
  background-size: auto;

  cursor: pointer;
}

.top-right-bar {
  display: flex;
  justify-content: end;
  text-align: center;
  gap: 10px;

  font-size: 16px;
}

.top-right-bar-sign-up {
  padding: 10px;
  cursor: pointer;
}

/* 로그인 UI */

.auth-sign-up-box-text {
  display: flex;
}

.auth-sign-up-text {
  padding: 5px;
  font-size: 24px;
  font-weight: 400;
  width: 200px;
  height: 50px;
  line-height: 50px;
}

.auth-sign-up-next-box {
  display: flex;
  gap: 50px;
  margin-right: 30px;
  width: 300px;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  min-width: 610px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  width: 380px;
}

.login-container {
  /* font */
}

.sign-up-next-box {
  display: flex;
  gap: 50px;

  margin-right: 30px;

  width: 300px;

}

.sign-in-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.socal-login {
  display: flex;
  gap: 40px;
  margin-top: 100px;
}

.kakao-login {
  width: 56px;
  height: 56px;
  border-radius: 56px;

  cursor: pointer;
  background-image: url("../../assets/image/kakao-button.png");
}

.naver-login {
  width: 56px;
  height: 56px;
  border-radius: 56px;

  cursor: pointer;
  background-image: url("../../assets/image/naver-button.png");
}

.short-divider {
  width: 64px;
  border: 1px solid rgba(238, 238, 238, 1);
}

.user-found {
  display: flex;
  gap: 20px;

}

.id-found {
  font-size: 24px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}

.password-found {
  font-size: 24px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}

.under-right-bar {
  width: 600px;
}