.footer-size-check {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
}

.footer-top-bar {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.footer-under-bar {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.footer-total-user-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-head-light {
    font-weight: 700;
}