.search-box {
  background-color: rgb(218, 218, 218);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  }
  .search-keyword {
  margin-right: 10px;
  }
  .list-search-input {
  flex: 1; /* 검색어 입력 부분의 너비 조절 */
  padding: 5px;
  }
  .search-button {
  background-color: rgb(0, 0, 0);
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  margin-left: 10px; /* 검색 버튼과의 간격 조정 */
  }

.announcement-board-container {
  margin: 20px auto;
  max-width: 100%; /* designer-list-main-view의 너비에 맞춤 */
  padding: 0;
}

.announcement-board-list-information {
  display: flex;
  justify-content: space-between;
  padding: 0; /* 여백 제거 */
  background-color: #f2f2f2;
}

.announcement-board-list-information  > div {
  padding: 10px;
  border: 1px solid #000000;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.announcement-board-list-information1 {
  flex: 0.5; /* 크기 조정 가능 */
}

announcement-board-list-information2 {
  flex: 6; /* 크기 조정 가능 */
}

.announcement-board-list-information3 {
  flex: 1; /* 크기 조정 가능 */
}

.announcement-board-list-information4 {
  flex: 0.5; /* 크기 조정 가능 */
}

.announcement-board-list-main-view {
  display: flex;
  flex-direction: column;
}
.announcement-board-list-main-view > div {
  padding: 10px;
  border-bottom: 1px solid #000000;
  background-color: rgb(218, 218, 218)
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ddd;
  cursor: pointer;
}