.announcementboard-list-search-box {
  background-color: rgb(218, 218, 218);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  }

  /* .search-keyword {
  margin-right: 10px;
  }
  .list-search-input { 
  flex: 1; 
  padding: 5px;
  } */

  /* .search-button {
  background-color: rgb(0, 0, 0);
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  margin-left: 10px; 
  } */

.announcementboard-list-table {
  margin: 20px auto;
  max-width: 100%; /* announcement-list-title의 너비에 맞춤 */
  padding: 0;
}

.announcement-list-information {
  display: flex;
  justify-content: space-between;
  padding: 0; /* 여백 제거 */
  background-color: #f2f2f2;
}

.announcementboard-table-th {
  display: flex;
  align-items: center;
  gap: 95px;

  border-top: 1px solid rgba(238, 238, 238, 1);
  padding: 15px 24px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;

  color: rgba(64, 64, 64, 1);
}


.announcement-list-information1 {
  flex: 0.5; /* 크기 조정 가능 */
}

.announcement-list-information2 {
  flex: 6; /* 크기 조정 가능 */
}

.announcement-list-information3 {
  flex: 1; /* 크기 조정 가능 */
}

.announcement-list-information4 {
  flex: 0.5; /* 크기 조정 가능 */
}

.announcement-list-title {
  display: flex;
  flex-direction: column;
}
.announcement-list-title > div {
  padding: 10px;
  border-bottom: 1px solid #000000;
  background-color: rgb(218, 218, 218);
  cursor: pointer;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a {
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.write-button {
  position: absolute;
  right: 0;
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 5px 10px;
  cursor: pointer;
}